@font-face {
  font-family: "Minecraft";
  src: url("/minecraft-font/regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/minecraft-font/bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Minecraft";
  src: url("/minecraft-font/italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Minecraft";
  src: url("/minecraft-font/bold-italic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: calc(1600vw / 470);
    @apply min-[470px]:[font-size:16px];

    --header-height: 4rem;
    --dark-green: hsl(188.9, 52.9%, 10%);
    --light-green: hsl(88.5, 58.7%, 40.8%);

    @apply bg-zinc-900 text-zinc-400 selection:bg-blue-400 selection:text-zinc-900 selection:[text-shadow:none];
  }

  html * {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-white/10 hover:scrollbar-thumb-white/15;
  }

  * {
    @apply text-pretty !ease-out; /* tailwind is ease-in-out by default, !ease-out overrides it */
  }

  ._ {
    @apply bg-green-500/10;
  }

  button:focus-visible,
  a:focus-visible {
    @apply outline outline-2 outline-blue-400;
  }

  input:focus {
    @apply outline-none;
  }
}

@layer utilities {
  @keyframes border-pulse-keyframes {
    0%,
    100% {
      @apply border-zinc-600/0;
    }
    50% {
      @apply border-zinc-600/100;
    }
  }
  .border-pulse {
    animation: border-pulse-keyframes 2s infinite;
  }
}
