@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: calc(1600vw / 470);
    @apply min-[470px]:[font-size:16px];

    --header-height: 4rem;

    @apply overscroll-none bg-zinc-900 text-zinc-400 selection:bg-blue-400;
  }

  html * {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-white/10 hover:scrollbar-thumb-white/15;
  }

  button:focus-visible,
  a:focus-visible {
    @apply outline outline-2 outline-blue-400;
  }

  input:focus {
    @apply outline-none;
  }
}

@layer utilities {
  @keyframes border-pulse-keyframes {
    0%,
    100% {
      @apply border-zinc-600/0;
    }
    50% {
      @apply border-zinc-600/100;
    }
  }
  .border-pulse {
    animation: border-pulse-keyframes 2s infinite;
  }
}
